body {
  margin: 0;
}

.header {
  background-color: black;
  color: white;
  font-weight: 300;
  padding: 15px;
}

.bodyContainer {
  padding: 20px;
}

.itemContainer {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  align-items: center;
}

label {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

.sku {
  font-size: 10px;
  opacity: 0.7;
}

/** COMMENT STYLES */

.commentsContainer {
  background-color: #f5f2ef;
  padding: 15px;
  margin-top: 15px;
}

.hidden {
  display: none;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addCommentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addCommentContainer > textarea {
  margin: 10px;
  width: 100%;
}

.commentDocument {
  padding: 10px 0px;
}

.commentDocument > text {
  opacity: 0.8;
  font-size: 12px;
}

.commentDocument > img {
  height: 25px;
}

/** BOOTSTRAP OVERRIDES */

.list-group-item {
  border: none;
  border-bottom: 2px solid lightgray;
}

.list-group-item:last-child {
  border-radius: 0px;
  border: none;
}

.btn-link {
  color: #17a2b8;
}

a {
  color: #17a2b8;
  font-size: 12px;
}
